{%extends 'base.html'%}
{%load humanize%}

{% block body %}




  

<form method="POST" class="shadow-lg mx-10 mt-10 rounded-lg">
   
{% csrf_token %}
    <div class="-form-container px-10 py-10 flex"> 
        <div class="mx-10">
            <div class="mb-5">
                <label for="">Kulutuse nimi</label>
            </div>
            <div class="border">{{expense_form.name}}</div>
        </div>


        <div class="mx-10">
            <div class="mb-5">
                <label for="">Summa</label>
            </div>
            <div class="border">{{expense_form.amount}}</div>
        </div>


        <div class="mx-10">
            <div class="mb-5">
                <label for="">Kategooria</label>
            </div>
            <div class="border">{{expense_form.category}}</div>
        </div>
        <div class="mx-10 mt-9">

            <button class="bg-green-500 px-5 py-2 rounded-lg text-white font-bold" type='submit'>Sisesta</button>
        </div>
   </div>     



</form>


<div class="relative overflow-x-auto px-10 py-10">
    
    <div class="m-10 font-bold">Kulutused</div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Kulutuse nimi
                </th>
                <th scope="col" class="px-6 py-3">
                    Summa
                </th>
                <th scope="col" class="px-6 py-3">
                    Kategooria
                </th>
                <th scope="col" class="px-6 py-3">
                    Kuupäev
                </th>
                <th scope="col" class="px-20 py-3">
                    Valikud
                </th>
            </tr>
        </thead>
        
   
        <tbody>
            {%for expense in expenses%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{expense.name}}
                </th>
                <td class="px-6 py-4">
                    {{expense.amount|intcomma}} €
                </td>
                <td class="px-6 py-4">
                    {{expense.category}}
                </td>
                <td class="px-6 py-4">
                    {{expense.date}}
                </td>
                <td class="px-6 py-4">
                    <a href="{%url 'update' expense.id%}" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Muuda</a>
                    <a href="{%url 'expense_delete' expense.id%}" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Kustuta</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
        
    </table>
</div>
</div>

<div class="flex">
    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">Viimane nädal</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{weekly_sum.amount__sum|intcomma}}€</h1>
    </div>

    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">Viimane kuu</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{monthly_sum.amount__sum|intcomma}}€</h1>
    </div>

    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">Viimane aasta</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">{{total_expenses.amount__sum|intcomma}}€</h1>
    </div>
</div>

<div class="flex">
    <div class="w-1/2 shadow-lg m-10">
        <div class="flex flex-wrap space-x-40 font-bold px-20 py-5">
            <span>Viimase kuu päevased kulutused</span>
        </div>
        <hr>
        <div id="30-day-table">
        

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Kuupäev
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Kulutused
                        <a href="#"></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for sum in daily_sums%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{sum.date}}
                </th>
                <td class="px-6 py-4">
                    {{sum.sum|intcomma}}€
                </td>
            </tr>
            
            {%endfor%}
        </tbody>
    </table>
</div>

    </div>
</div>
{% endblock body %}


